@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");

:root {
    font-size: 16pt;
    --color-tone-1: #ffffff;
    --color-tone-2: #818384;
    --color-tone-3: #565758;
    --color-tone-4: #3a3a3c;
    --color-tone-5: #272729;
    --color-tone-6: #1a1a1b;
    --color-tone-7: #121213;
    --present-color: #b59f3b;
    --correct-color: #538d4e;
    --logo-font: "DM Serif Text";
}

body {
    color: var(--color-tone-1);
    background-color: var(--color-tone-7);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 5rem;
    padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 10%;
    padding: 0.6rem;
    border-bottom: 0.05rem solid var(--color-tone-2);
}

#title {
    font-family: var(--logo-font);
    font-size: 24pt;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-tone-1);
    transition: all 0.3s ease 0s;
}

a#title:hover {
    color: var(--correct-color);
}

#board-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 2rem;
    margin: auto;
    margin-top: 10vh;
}

.board {
    display: grid;
    gap: 0.2rem;
    grid-template-rows: repeat(6, 1fr);
}

.keyboard {
    display: grid;
    gap: 0.2rem;
}

.row {
    display: grid;
    gap: 0.2rem;
    grid-template-columns: repeat(5, 1fr);
}

.keyboard-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile {
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    background: var(--color-tone-7);
    font-size: 2rem;
    line-height: 2rem;
    color: var(--color-tone-1);
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid var(--color-tone-4);
    transition: all 1s;
    overflow: hidden;
    text-transform: uppercase;
}

@keyframes flip {
    from {
        transform: rotateX(0);
    }

    to {
        transform: rotateX(180deg);
    }
}

@keyframes depress {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.9);
    }
}

.key {
    font-weight: bold;
    font-size: 0.5rem;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 40px;
    width: 27px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: var(--color-tone-2);
    color: var(--color-tone-1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: all 100ms;
}

.key:hover {
    transform: scale(1.1);
}

.key#double-wide {
    width: 40px;
}

.spacer {
    height: 1rem;
    width: 0.5rem;
}

.cheats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;
    font-size: 5rem;
    text-transform: capitalize;
}

#cheat-button {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    font-size: 2rem;
    color: var(--text-color);
}
